
#loader {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: white;
}

#loader-gif {
	position: absolute;
	margin-left: -60px;
	margin-top: -60px;
	top: 50%;
	left: 50%;
}

/* MAIN PAGE */


/* Restricts scrolling on home page */
.index-body {
	overflow: hidden;
}

/* Sets jumbotron image */
.home-jumbo {
	background-image: url("../Images/home_background.JPG");
	background-size: cover;
	position: relative;
}


/* Styles intro text */
.home-jumbo h1,
.home-jumbo h2 {
	position: relative;
	color: white;
	font-family: 'Lato', sans-serif;
	z-index: 1;
}


#hello-world {
	color: white;
	left: 80px;	
}

#im-libby {
	left: 80px;
}


/* Styles getting late call to action */
#getting-late {
	left: 250px;
	width: 350px;
}

#getting-late:hover {
	opacity: 0.70;
}


/* Changes CTA color when over clouds */
@media (max-width: 1040px) {
	#getting-late {
		color: #336699;
	}
}


/* Styles intro text for smaller devices */
@media (max-width: 980px){

	#hello-world {
		left: 0px;
		width: 100%;
		text-align: center;
	}

	#im-libby {
		left: 0px;
		text-align: center;
		top: 18%;
		width: 94%;
		left: 3%;
		right: 3%;
		background-color: rgba(0,0,0,0.4);
		line-height: 120%;
	}

	#getting-late {
		left: 0px;
		text-align: center;
		top: 20%;
		width: 50%;
		left: 25%;
		right: 25%;
		color: white;
		background-color: rgba(0,0,0,0.4);
		line-height: 200%;
	}
}


@media (max-width: 768px){

	#hello-world {
		top: 20px;
		font-size: 56px;
	}
}

@media (max-width: 680px) {
	#im-libby {
		font-size: 28px;
	}

	#getting-late {
		font-size: 22px;
		width: 90%;
		left: 5%;
		right: 5%;
	}
}

@media (max-height: 450px) {
	
	#hello-world,
	#im-libby,
	#getting-late {
		top: -40px;
	}
}


/* Styles stars on menu for different devices */
#jumbo-stars {
	position: absolute;
	top: 0;
	width: 100%;
	display: none;
}

@media (max-width: 570px) {
	#jumbo-stars {
		width: auto;
		height: 25%;
	}
}




/* Home menu icon */
.home-menu-link {
	position: fixed;
	right: 0;
	font-size: 45px;
	color: white;
	margin-right: 20px;
	margin-top: 10px;
	z-index: 101;	
}


.home-menu-link:hover {
	opacity: 0.65;
}



/* Styles menu and menu options */
.menu {
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 100%;
	position: fixed;
	overflow-y:scroll;
	overflow-x:hidden;
	background-color: black;
	opacity: 0.75;
	display: none;
	z-index: 100;
	cursor: url("../Images/star-cursor.png"), auto;
}


.menu p {
	position: relative;
	color: white;
	font-size: 56px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	list-style-type: none;
	top: 160px;
}


.menu p a {
	color: white;
	text-decoration: none;
	cursor: url("../Images/star-cursor.png"), auto;
}

.menu p a:hover {
	color: #4483FF;
}


@media (max-width: 690px){
	.menu p {
		font-size: 36px;
		top: 150px;
	}
}

@media (max-height: 400px){
	.menu p {
		top: 50px;
	}
}

/* Star cursor on menu */
#star {
	display: none;
}



/* Copyright footer*/
#copy-text {
	position: absolute;
	bottom: 0;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 14px;
	width: 100%;
	text-align: center;
}

#copy-text-alt {
	position: relative;
	bottom: 0;
	color: black;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	width: 100%;
	text-align: center;
}








/* ABOUT ME*/

/* About me menu link */
.map-menu-link {
	position: fixed;
	right: 0;
	font-size: 45px;
	color: #bac1b8;
	margin-right: 20px;
	margin-top: 10px;
	z-index: 101;	
}

.map-menu-link:hover {
	opacity: 0.65;
}



.about-me-jumbo {
	background-image: url('../Images/about_background.JPG');
	background-size: cover;
	position: relative;
	opacity: 1;
}


@media (max-width: 450px) {

.about-me-jumbo {
	background-image: url('../Images/about_background_sm.JPG');
}

}


/* About me section */

#about-me-header {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: white;
	margin-top: -10px;
}

#about-me-text {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: white;
	margin-top: 30px;
}


.about-icon-link {
	display: block;
	margin-top: 20px;
	height: 50px;
	width: 50px;
	margin-left: 50px;
}

.about-icon-link:hover {
	opacity: 0.7;
}

.about-icon-link p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: white;
	font-size: 16px;
	display: none;
}

#pencil-icon {
	width: 40px;
}

#bike-icon {
	width: 50px;
}




#skills-headline,
#btusfms-headline {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	margin-top: 100px;
}

#skills-headline a,
#btusfms-headline a {
	text-decoration: none;
	background-color: #A6A6B4;
	color: white;
}

.no-pad {
	padding: 0 !important;
}



/*Styles experience blocks*/

.skills-block-1 {
	background-color: #f6f6f7;
	height:300px;
	margin-top: 20px;
}

.skills-block-2 {
	background-color: #ededf0;
	height:300px;
	margin-top: 20px;
}


@media (max-width: 992px) {

.skills-block-1,
.skills-block-2 {
	height: 375px;
}
}

@media (max-width: 768px) {

.skills-block-1,
.skills-block-2 {
	height: 275px;
}
}


@media (max-width: 400px) {

.skills-block-1,
.skills-block-2 {
	height: 335px;

}

#skills-headline,
#btusfms-headline {
	font-family: 'Lato', sans-serif;
	margin-top: 150px;
}
}

@media (max-width: 400px) {

.about-icon-link {
	margin-left: 0px;
}

.skills-block-2 {
	height: 310px;
}
}





.skills p {
	font-family: 'Lato', sans-serif;
	padding: 20px;
}


.quote {
	font-size: 24px;
	font-color: #63636c;
	font-style: italic;
	color: #49494a;
}

.skills-block-drop {
	position: absolute;
	background-color: #193214;
	height: 100%;
	width: 100%;
	opacity: 0.75;
	display: none;
}

.skills-block-drop p {
	color: white;
	font-size: 20px;
}

.skills-block-drop ul {
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 18px;
	padding-left: 50px;
	list-style-type: circle;
}

.contact-button {
	float: right;
	margin-top: 20px;
	margin-right: 50px;
	background-color: #8C9889;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: white;
	border-radius: 0;
}


@media (min-width: 768px) {
	.contact-button:hover {
		background-color: white;
		color: #8C9889;
	}
}


@media (max-width: 400px) {
	.contact-button {
		float: left;
	}
}




/* Div surrounding entire map*/
.map-total {
	position: relative;
	margin-top: 50px;
	margin-bottom: 100px;
	}

/* Whole US map outline */
.usa {
	position: relative;
	width: 75%;
	left: 10%;
	z-index: 20;
}

/* Pulls states and text in front */
.state,
.btusfms {
	z-index: 21;
}

/* Positioning of all states */
#washington {
	position: absolute;
	top: 1.1%;
	left: 12.3%;
	width: 13.3%;
}

#idaho {
	position: absolute;
	top: 4.4%;
	left: 19.3%;
	width: 12.8%;
}

#montana {
	position: absolute;
	top: 5.3%;
	left: 24.4%;
	width: 17.2%;
}

#northdakota {
	position: absolute;
	top: 6.7%;
	left: 38%;
	width: 11.7%;
}

#minnesota {
	position: absolute;
	top: 5.75%;
	left: 46.25%;
	width: 12.8%;
}

#iowa {
	position: absolute;
	top: 31.5%;
	left: 49.1%;
	width: 8.1%;
}

#illinois {
	position: absolute;
	top: 33%;
	left: 55.9%;
	width: 6.5%;
}

#indiana {
	position: absolute;
	top: 34.7%;
	left: 61.5%;
	width: 3.9%;
}

#ohio {
	position: absolute;
	top: 31.5%;
	left: 65.1%;
	width: 5.5%;

}

#newyork {
	position: absolute;
	top: 14.5%;
	left: 71.3%;
	width: 9%;
}

#vermont {
	position: absolute;
	top: 12.8%;
	left: 77.4%;
	width: 1.8%;
}

#newhampshire {
	position: absolute;
	top: 11.5%;
	left: 79.15%;
	width: 2.2%;
}

#maine {
	position: absolute;
	width: 5%;
	top: 1%;
	left: 79.7%;
}


/* Elevated states on hover */
.state:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  z-index: 22;
}


/* Map text */
.btusfms {
	position: absolute;
	font-family: 'Montserrat', Helvetica, sans-serif;
	top: 56%;
	left: 20%;
	padding: 5px;
	color: #49494a;
	width: 50%;
	font-size: .9em;
}



.btusfms a {
	color: #269f26;
}





/* Resizes map text on smaller devices */
@media (max-width: 992px){

.btusfms {
	top: 65%;
	left: 10%;
	padding:2px;
	border: 2px solid black;
	background-color: rgba(220,224,219,0.9);
	font-size:12px;
}

}

@media (max-width: 642px){
.btusfms {
	position: absolute;
	padding:2px;
	border: 2px solid black;
	left: 2%;
	width: 96%;
	background-color: rgba(220,224,219,0.9);
	font-size:12px;
}

.map-total {
	margin-bottom: 200px;
}

}


/* Styles state photo gallery */
.state-panel {
	
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 100%;
	position: fixed;
	overflow-y:scroll;
	overflow-x:hidden;
	background-color: rgba(0, 0, 0, 0.85);
	display: none;
	z-index: 120;

}

.state-panel img {
	width: 650px;
	margin-top: 50px;
	max-height: 80%;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.state-panel p {
	display: block;
	color:white;
	font-family: 'Lato', Helvetica, sans-serif;
	margin-top: 10px;
	font-size: 18px;
	text-align: center;
}






/* CONTACT PAGE */


/* Contact page menu link */
.contact-menu-link {
	position: fixed;
	right: 0;
	font-size: 45px;
	color: white;
	margin-right: 20px;
	margin-top: 10px;
	z-index: 101;	
}

.contact-menu-link:hover {
	opacity: 0.65;
}


/* Hides jumbotron overflow */
.contact-body {
	overflow: hidden;
}

/* Sets jumbotron and resizes it accordingly */
.contact-page {
	background-image: url("../Images/contact_background.JPG");
	background-size: cover;	
	background-repeat: no-repeat;
	background-position: 0px -100px;
}

@media (max-width: 1150px) {
	.contact-page {
		background-position: 0px 0px;
	}
}


/* Styles contact information */
.contact {
	position: relative;
	top: -10px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: white;
}

.contact h1 {
	font-size: 48px;
}

.contact h4 {
	padding: 12px;
	font-size: 24px;
}

#email {
	font-size: 32px;
	text-decoration: none;
	color: white;
}

#email:hover {
	text-decoration: underline;
	color: #4483FF;
}

/* Social media icons */
#instagram {
	width: 40px;
}

#pinterest {
	width: 25px;
}


/* Resizes contact info accordingly */
@media (max-width: 550px) {
	.contact {
		top: 0px;
	}
	.contact h1 {
		font-size: 32px;
	}
	.contact h4 {
		font-size: 18px;
	}
	#email {
		font-size: 24px;
	}
}

@media (max-width: 450px) {
	.contact-menu-link,
	.map-menu-link,
	.home-menu-link {
		font-size: 30px;
		margin-right: 5px;
	}
}

@media (max-height: 450px) {
	
	.contact {
		top: -25px;
	}
}


